$blanco :white;
.flex{
    display: flex;
}
body{
    margin: 0px;
    background-color: #8F57FD;
    /*overflow-x: hidden;*/
    font-family: 'Muli', sans-serif;
    height: 120%;
}
.carrousel{
    /*width: 100%;*/
    overflow: scroll;
    padding: 30px;
    padding-left: 0px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 10px;
    /*height: 40%;*/
}

.carrosuel-item__button--right{
    height: 250px;
    width: 35px;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    align-items: center;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 15px;
    transition: 500ms all;
    position: absolute;
    left: 0px;
    z-index: 2;
}

.carrosuel-item__button--right:hover{
    background: rgba(0, 0, 0, 0.2);
    transition-delay: 500ms all;
    
}

.carrosuel-item__button--left{
    height: 250px;
    width: 35px;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 15px;
    transition: 500ms all;
    position: absolute;
    right: 0px;
    z-index: 5;
}

.carrosuel-item__button--left:hover{
    background: rgba(0, 0, 0, 0.2);
    transition-delay: 500ms all;
    
}

.carrosuel-item__button--right img{
  height: 25px;
  
}
.carrosuel-item__button--left img{
    height: 25px;
}
.carrousel__container{
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    /*height: 100%;*/
}
.carrousel-item{
    background-color: palevioletred;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all; 
    transform-origin: center left;
    position: relative;
}
.carrousel-item:hover ~ .carrousel-item{
    transform: translate3d(100px 0px 0px);
}
.carrousel__container:hover .carrousel-item{
    opacity: 0.3;
}
.carrousel__container:hover .carrousel-item:hover{
    transform: scale(1.5);
    opacity: 1;
}
.carrousel-item__img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.carrousel-item__details{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9)0%, rgba(0, 0, 0, 0)100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @extend .flex;
    justify-content: flex-end;
    flex-direction: column;
}
.carrousel-item__details img{
    height: 15px;
}
.carrousel-item__details p{
    margin: 0px;
}
.carrousel-item__details:hover{
    opacity: 1;
    color: $blanco;
}
.parrafo{
    @extend .flex;
    position: sticky;
    vertical-align: bottom;   
    color: $blanco;
    font-size: 25px;
    margin-left: 25px;
    margin-top: 35px;
    height: 20px;
}
.footer{
    @extend .flex;
    /*position: absolute;*/
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #8F57FD;
    bottom: 0px;
}
.footer a{
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
/*header*/
.header{
    width: 100%;
    height: 80px;
    background-color: #8F57FD;
    @extend .flex;
    justify-content: space-between;
    align-items: center;
}
.header__img{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
.header__menu{
    margin-right: 30px;
}
.header__menu ul{
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
}
.header__menu:hover ul, ul:hover{
    display:block;
}
.header__menu li{
    margin: 10px 0px;
}
.header__menu li a{
    color: white;
    text-decoration: none;
}
.header__menu li a:hover{
    text-decoration: underline;
}
.header__menu--profile{
    margin-right: 8px;
    /*width: 40px;*/
    @extend .flex;
    align-items: center;
    cursor: pointer;
}
.header__menu--profile img{
    margin-right: 8px;
    width: 40px;
}
.header__menu--profile p{
    margin-right: 0px;
    color: white
}
.main{
    height: 300px;
    @extend .flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.main__title{
    color: white;
    font-size: 25px;
    @extend .flex;
    justify-content: center;
    align-content: center;
}
.input{
    background-color: rgba(255, 2555, 255, 0.1);
    border: 2px solid white;
    border-radius: 30px 30px;
    color: $blanco;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    outline: none;
    width: 70%;
    margin-left: 13%;
}
::placeholder{
    color: $blanco;
}